<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app" class="container mt-5">
        <div :class="['p-3', 'text-white', fondo]">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto culpa exercitationem autem corrupti magnam magni doloribus repellendus praesentium porro modi accusantium corporis, quae consequuntur eum iure facere quia quo adipisci.</p>
        </div>
        <input type="text" class="form-control my-3" v-model="fondo">

        <div class="text-white p-3" :class="{'bg-info' : color, 'bg-success' : !color}">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur odit saepe id asperiores totam exercitationem harum molestias voluptatem laudantium adipisci.</p>
        </div>

        <button class="btn btn-primary" @click="color= !color">Cambiar</button>
    <h1>{{titulo}} </h1>
    <input type="text" v-model="nuevaFruta" @keyup.enter ="agregarFruta">
    <button @click="agregarFruta">Agregar</button>

    <ul>
        <li v-for="fruta of frutas">
            <input type="number" v-model.number= "fruta.cantidad">
            {{fruta.nombre}}
            <button @click="fruta.cantidad= fruta.cantidad +1">+</button>
            <span v-if="fruta.cantidad === 0"> - Sin stock </span>
        </li>
    </ul>
<h4>TOTAL : {{sumarFrutas}}</h4>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>
</html>